<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/style.css" type="text/css">
	<title>Книга рецептов - Регистрация</title>
</head>
<body>
	<div class="container">
		<form method="post" action="addVerificatoion">	
			<input type = "text" name = "deviceType" placeholder = "Тип">
			<input type = "text" name = "deviceSerNumber" placeholder = "Заводской номер">
			<input type = "text" name = "deviceOwner" placeholder = "Владелец">				
			<button class = "dws-btn" type="submit">Добавить</button><br>					
		</form>
	</div> 		
</body>
</html>