<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Д1-13 </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            td{
                border: solid 1px rgb(0, 0, 0); 
                text-align:center;
            }
        </style>
    </head>
	
	<body>
		<div class="container-md">
            <div class="row">
                <div>
                    <h4>Информация о поверке</h4>
                    <table style="width: 100%;">
                        <tr>                           
                            <td>Серийный номер: </td>
                            <td><input type="text" id="serial_number" value=""></td>
                        </tr>
                        <tr>
                            <td>Дата поверки: </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Температура: </td>
                            <td><input type="text" id="temperature" value=""></td>
                        </tr>
                        <tr>
                            <td>Влажность воздуха: </td>
                            <td><input type="text" id="humidity" value=""></td>
                        </tr>
                        <tr>
                            <td>Атмосферное давление: </td>
                            <td><input type="text" id="preasure" value=""></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <h4>Результаты поверки</h4>
                <table style="width: 100%;">
                    <tr>
                        <td rowspan="2">Ступени</td>
                        <td colspan="4">Частоты</td>
                    </tr>
                    <tr>
                        <td>55.5 кГц</td>
                        <td>5 МГц</td>
                        <td>6,5 МГц</td>
                        <td>30 МГц</td>
                    </tr>
                    <tr>
                        <td>0-10</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>0-20</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-30</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-40</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-50</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-60</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-70</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-80</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>20-90</td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                        <td><input type="text" style="width: 100%;"></td>
                    </tr>
                </table>
            </div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>