<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Д3-34А  </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            td{
                border: solid 1px rgb(0, 0, 0); 
                text-align:center;
            }
        </style>
    </head>
	
	<body>
		<div class="container-md">
            <a th:href="@{/}" href="../templates/main.html">На главную</a>
            <h2>Д3-34А</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4>Информация о поверке</h4>
                    <input type="hidden" id="procedureHashCode" name="code" th:value="${procedureHashCode}">
                    <table style="width: 100%;">
                        <tr>                           
                            <td>Серийный номер: </td>
                            <td><input type="text" id="serial_number" value="" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td>Дата поверки: </td>
                            <td><input type="date" id="date" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td>Температура: </td>
                            <td><input type="text" id="temperature" value="21" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td>Влажность воздуха: </td>
                            <td><input type="text" id="humidity" value="51" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td>Атмосферное давление: </td>
                            <td><input type="text" id="preasure" value="756" style="width: 100%;"></td>
                        </tr>
                    </table>
                    <input type="button" class="btn btn-secondary" value="Отправить основную информацию" onclick="sendMainData();">
                    <div id="mainInfoAnswer">
                    </div>
                    <p><input type="checkbox" id="errorRadio" onclick="hideErrorFields();"> Не вносить значения погрешности измерений </p>
                </div>
                <div class="col-md-6">
                    <h4>Справка о типе поверяемого СИ</h4>
                    <p>Номер в гос реестре <span th:text="${type.gosNumber}"></span></p>
                    <p>Волноводный тракт <span th:text="${type.waveguide}"></span></p>
                    <p>Частотный диапазон <span th:text="${type.startFreq}"></span> - <span th:text="${type.stopFreq}"></span></p>
                    <p>Начальное ослабление не более <span th:text="${type.initialAttenuation}"></span> дБ</p>
                    <p>КСВН входа и выхода не более <span th:text="${type.vswrLimit}"></span></p>                
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h5>Таблица 1 - Измеренные значения КСВН</h5>
                </div>
                <div class="col-md-6">
                    <h5>Таблица 2 - Измеренные значения начального ослабления</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">                   
                    <table style="width: 100%;">
                        <tr>
                            <td rowspan="2"></td>
                            <td colspan="4">Частоты</td>
                        </tr>
                        <tr>
                            <td>12,05 ГГЦ</td>
                            <td>14,70 ГГц</td>
                            <td>17,44 ГГц</td>
                        </tr>
                        <tr>
                            <td>КСВН входа</td>
                            <td id="vswr_in1">
                                <input type="hidden" value="12.05" id="vswr_in_freq1">
                                <input type="text" style="width: 100%;" value="1" id="vswr_in_val1"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_in_err1">
                            </td>
                            <td id="vswr_in2">
                                <input type="hidden" value="14.70" id="vswr_in_freq2">
                                <input type="text" style="width: 100%;" value="2" id="vswr_in_val2"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_in_err2">
                            </td>
                            <td id="vswr_in3">
                                <input type="hidden" value="17.44" id="vswr_in_freq3">
                                <input type="text" style="width: 100%;" value="3" id="vswr_in_val3"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_in_err3">
                            </td>
                        </tr>
                        <tr>
                            <td>КСВН выхода</td>
                            <td id="vswr_out1">
                                <input type="hidden" value="12.05" id="vswr_out_freq1">
                                <input type="text" style="width: 100%;" value="8" id="vswr_out_val1"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_out_err1">
                            </td>
                            <td id="vswr_out2">
                                <input type="hidden" value="14.70" id="vswr_out_freq2">
                                <input type="text" style="width: 100%;" value="7" id="vswr_out_val2"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_out_err2">
                            </td>
                            <td id="vswr_out3">
                                <input type="hidden" value="17.44" id="vswr_out_freq3">
                                <input type="text" style="width: 100%;" value="9" id="vswr_out_val3"><br>
                                <input type="text" style="width: 100%;" value="0" id="vswr_out_err3">
                            </td>
                        </tr>
                    </table>
                    <input type="button" class="btn btn-secondary" value="Проверить КСВН" onclick="sendVSWR();">
                    <div id="vswrAnswer">

                    </div>
                </div>
                <div class="col-md-6">

                        <table style="width: 100%;">
                            <tr>
                                <td rowspan="2"></td>
                                <td colspan="4">Частоты</td>
                            </tr>
                            <tr>
                                <td>12,05 ГГЦ</td>
                                <td>14,70 ГГц</td>
                                <td>17,44 МГц</td>
                            </tr>
                            <tr>
                                <td>Нач. осл.</td>
                                <td id="init_att1">
                                    <input type="hidden" value="12.05" id="init_att_freq1">
                                    <input type="text" style="width: 100%;" id="init_att_val1"><br>
                                    <input type="text" style="width: 100%;" id="init_att_err1"><br>
                                </td>
                                <td id="init_att2">
                                    <input type="hidden" value="14.70" id="init_att_freq2">
                                    <input type="text" style="width: 100%;" id="init_att_val2"><br>
                                    <input type="text" style="width: 100%;" id="init_att_err2"><br>
                                </td>
                                <td id="init_att3">
                                    <input type="hidden" value="17.44" id="init_att_freq3">
                                    <input type="text" style="width: 100%;" id="init_att_val3"><br>
                                    <input type="text" style="width: 100%;" id="init_att_err3"><br>
                                </td>
                            </tr>
                        </table>
                        <input type="button" class="btn btn-secondary" value="Проверить начальное ослабление" onclick="sendInitialAttenuation();">
                        <div id="initialAttAnswer">

                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5>Таблица 3 - Измеренные значения разностного ослабления</h5>
                    <form id="differentialAttenuationForm" method="post" action="/attenuators/d3-34a/analyze">
                    <table style="width: 100%;">
                        <tr>
                            <td rowspan="2">Ступени</td>
                            <td colspan="4">Частоты</td>
                        </tr>
                        <tr>
                            <td>12,05 ГГЦ</td>
                            <td>14,70 ГГц</td>
                            <td>17,44 ГГц</td>
                        </tr>
                        <tr id="dif_att_group1">
                            <td id="steps1">
                                0-10
                                <input type="hidden" id="startAtt1" value=0>
                                <input type="hidden" id="stopAtt1" value=10>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group2">
                            <td id="steps2">
                                0-20
                                <input type="hidden" id="startAtt2" value=0>
                                <input type="hidden" id="stopAtt2" value=20>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group3">
                            <input type="hidden" id="startAtt3" value=0>
                            <input type="hidden" id="stopAtt3" value=30>
                            <td id="steps3">
                                0-30
                                <input type="hidden" id="startAtt3" value=0>
                                <input type="hidden" id="stopAtt3" value=30>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group4">
                            <input type="hidden" id="startAtt4" value=0>
                            <input type="hidden" id="stopAtt4" value=40>
                            <td id="steps4">
                                0-40
                                <input type="hidden" id="startAtt4" value=0>
                                <input type="hidden" id="stopAtt4" value=40>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group5">
                            <td id="steps5">
                                0-50
                                <input type="hidden" id="startAtt5" value=0>
                                <input type="hidden" id="stopAtt5" value=50>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group6">
                            <td id="steps6">
                                0-60
                                <input type="hidden" id="startAtt6" value=0>
                                <input type="hidden" id="stopAtt6" value=60>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                        <tr id="dif_att_group7">
                            <td id="steps7">
                                0-70
                                <input type="hidden" id="startAtt7" value=0>
                                <input type="hidden" id="stopAtt7" value=70>
                            </td>
                            <td id="dif_att1">
                                <input type="hidden" value="12.05" id="dif_att_freq1">
                                <input type="text" style="width: 100%;" id="dif_att_val1"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err1"><br>
                            </td>
                            <td id="dif_att2">
                                <input type="hidden" value="14.70" id="dif_att_freq2">
                                <input type="text" style="width: 100%;" id="dif_att_val2"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err2"><br>
                            </td>
                            <td id="dif_att3">
                                <input type="hidden" value="17.44" id="dif_att_freq3">
                                <input type="text" style="width: 100%;" id="dif_att_val3"><br>
                                <input type="text" style="width: 100%;" id="dif_att_err3"><br>
                            </td>
                        </tr>
                    </table>
                </form>
                <input type="button" class="btn btn-secondary" value="Проверить разностное ослабление" onclick="sendDifferentialAttenuation();">
                <div id="difAttAnswer">
                    
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <div id="savingAnswer">
                    </div><br>
                    <input type="button" class="btn btn-secondary" value="Анализировать" onclick="sendAllData();">
                    <input type="button" class="btn btn-secondary" value="Сохранить в БД" onclick="saveData();">
                    <input type="button" class="btn btn-secondary" value="Выписать протокол и свидетельство (извещение)" onclick="createDocuments();">
                </div>
            </div>         
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script th:src="@{/js/MeasurmentResults.js}"	src="../static/js/MeasurmentResults.js"></script>
        <script th:src="@{/js/d3-34a.js}"	            src="../static/js/d3-34a.js"></script>

	</body>
</html>