<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Главная страница </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container-md">
			<a th:href="@{/}" href="../templates/main.html">На главную</a>
            <h2>Список зарегистрированных (поверяемых) средств измерения</h2>
			<div class="row">
				<div class="col-md-12">
					<form action="/devicesList" method="GET">
						<select name="typeName">
							<option> </option>
							<option th:each="type : ${deviceTypes}"> <b th:text=${type.name}> - </b> </option>
						</select><br>
						<input type="submit" value="Поиск" class="btn btn-secondary">
					</form>
					<form action="deleteDevices" method="POST">
						<div th:each="device : ${devices}">
							<p>
								<input type="checkbox" name="ids" th:id="'id_' + ${device.id}" th:value="${device.id}"> 
								<label th:for="'id_' + ${device.id}" th:text="${device.getType().name} + ' №' + ${device.serialNumber} + ' (id=' + ${device.id} + ')'"> Устройство </label>
							</p>
						</div>
						<input type="submit" value="Удалить" class="btn btn-secondary">
					</form>
				</div>
			</div>
		</div>
		<a th:href="@{/verificationProcedures}">
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>