<!DOCTYPE html>
<html>
	<head>
		<title> Study Spring Security </title>
	</head>
	
	<body>
		<div>
			<a href="/logout"><button>Log Out</button></a>
		</div>
		<br>
		<h1>Main Page</h1>
		<br>

		<div>
			<form method="get" action="toAdmin">
				<button type="submit">To admin</button>
			</form>
		</div>
		<br>

	</body>
</html>