<!DOCTYPE html>
<html>
	<head>
		<title> Study Spring Security </title>
	</head>
	
	<body>
		<div>
			<a href="/logout"><button>Log Out</button></a>
		</div>
		<br>
		<h1>Main Page</h1>
		<br>
		<p>User info: name {{userName}}, age {{userAge}}, email {{userEmail}}</p>
		<br>
		<div>
			<a href="{{linkToAdminPage}}">To admin</a>
		</div>
		<br>
		<div>
			<a href="/toAddVerification"><button>Добавить поверку</button></a>
		</div>
		<br>
	</body>
</html>

<!--<form method="get" action="toAdmin"><button type="submit">To admin</button></form>-->